@import 'src/styles/config';
@import 'src/styles/helpers';

resto-list {
    @include display-block;
    @include margin-horizontal-centering;
    max-width: $extra-large;

    .list-title {
        text-transform: capitalize;
    }

    .list-items {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        margin-top: 2rem;
    }
}