@import '../../styles/config';
@import '../../styles/helpers';

app-shell {
    .wrapper {
        @include flex-center-vertical(row);
        @include full-width;
        @include transition-ease;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        height: $app-bar-height;
        background: transparent;
        justify-content: space-between;

        &.open {
            background: $color-app-bar-background;
            box-shadow: 
                0 2px 2px 0 rgba($black,0.14), 
                0 3px 1px -2px rgba($black,0.12), 
                0 1px 5px 0 rgba($black,0.2);
        }
    }

    .aria-close-popup-btn {
        position: absolute;
        left: 0;
        bottom: 0;
        opacity: 0;
        background-color: $color-app-bar-background;
        padding: 8px;
        color: $color-text-light;

        &:focus {
            opacity: 1;
        }
    }

    .app-logo {
        margin-left: $app-bar-margin;
        font-family: $logo-font-family;
        color: $color-app-bar-text;
        text-decoration: none;
        font-size: 2rem;
    }

    .menu-btn {
        @include flex-center(column);
        position: absolute;
        right: 1.5rem;
        min-width: 44px;
        min-height: 44px;
        background: transparent;
        border: transparent;
        cursor: pointer;

        &__burger {
            @include transition-ease;
            position: absolute;
            width: 30px;
            height: 3px;
            background: $color-app-bar-text;

            &::before{
                position: absolute;
                width: 30px;
                height: 3px;
                background: $color-app-bar-text;
                content: '';
                right: 0;
                top: -8px;
            }

            &::after{
                position: absolute;
                width: 30px;
                height: 3px;
                background: $color-app-bar-text;
                content: '';
                right: 0;
                top: 8px;
            }

            &.open {
                transform: rotate(360deg);
                background: transparent;

                &::before {
                    transform: rotate(45deg) translate(5px, 6px);
                }

                &::after {
                    transform: rotate(-45deg) translate(5px, -6px);
                }
            }
        }
    }

    .nav-drawer-mobile {
        position: fixed;
        right: 0;
        top: $app-bar-height;
        width: 300px;
        height: calc(100vh - #{$app-bar-height});
        margin: 0;
        display: grid;
        grid-template-rows: 25vh auto;
        row-gap: 1.5rem;
        background: $color-nav-drawer-background;
        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
        @include transition-ease;

        &.open {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }

    .nav-mobile {
        @include flex-center-horizontal(column);
        justify-content: flex-start;

        &__item {
            @include full-width;
            list-style-type: none;
        }

        &__link {
            @include full-width;
            display: grid;
            grid-template-columns: 2.5rem auto;
            align-items: center;
            text-decoration: none;
            text-transform: capitalize;
            min-height: 44px;
            padding: 0 2rem;
            font-size: 1.125rem;
            color: $color-text-dark;

            &:hover {
                background: $color-nav-menu-hover;
            }
        }
    }

    .user-view {
        @include flex-center-vertical(column);
        padding: 2rem;

        &__photo {
            width: 100px;
            border-radius: 100%;
        }

        &__name {
            margin-top: 1rem;
            font-size: 1.13rem;
            font-weight: bold;
        }

        &__email {
            margin-top: 0.5rem;
            color: $color-text-subtle;
            font-weight: 400;
        }
    }

    .divider {
        @include full-width;
        border-top: 0.5px solid $color-nav-drawer-divider;
        margin: 1rem 0;
    }

    .nav-drawer-desktop {
        margin-right: $app-bar-margin;
    }

    .nav-desktop {
        @include flex-center-vertical(row);
        justify-content: flex-start;
        display: none;

        &__item {
            list-style-type: none;
        }

        &__link {
            display: grid;
            align-items: center;
            grid-template-columns: 2rem auto;
            text-decoration: none;
            text-transform: capitalize;
            min-height: 44px;
            height: 60px;
            height: $app-bar-height;
            font-size: 1.125rem;
            color: $color-app-bar-text;
            padding: 0 1rem;
            cursor: pointer;
            background: transparent;
            border: none;

            &:hover {
                background: $color-nav-menu-hover;
            }

            &.open {
                background: $color-nav-drawer-background;
            }
        }

        &__photo {
            width: 30px;
            border-radius: 100%;
        }

        &__username {
            margin-left: 0.5rem;
        }
    }

    .user-dropdown {
        position: fixed;
        right: $app-bar-margin;
        top: $app-bar-height;
        background: $color-nav-drawer-background;
        color: $color-text-dark;
        box-shadow: 0 1px 1px 0 rgba($color-card-shadow, 0.08), 0 1px 3px 1px rgba($color-card-shadow, 0.16);
        opacity: 0;
        visibility: hidden;
        padding-bottom: 2rem;
        @include transition-ease;

        &.open {
            opacity: 1; // needed in order for transition to work
            visibility: visible;
        }

        &__item {
            @include full-width;
            list-style-type: none;
        }

        &__link {
            @include full-width;
            display: grid;
            grid-template-columns: 2.5rem auto;
            align-items: center;
            text-decoration: none;
            text-transform: capitalize;
            min-height: 44px;
            padding: 0 2rem;
            font-size: 1.125rem;
            color: $color-text-dark;

            &:hover {
                background: $color-nav-menu-hover;
            }
        }

        &__info {
            @include flex-center-vertical(column);
            padding: 2rem;
        }

        &__photo {
            width: 100px;
            border-radius: 100%;
        }

        &__name {
            margin-top: 1rem;
            font-size: 1.13rem;
            font-weight: bold;
        }

        &__email {
            margin-top: 0.5rem;
            color: $color-text-subtle;
            font-weight: 400;
            text-transform: none;
        }
    }
}