@import '../../styles/config';

app-shell {
    .menu-btn {
        @include responsive-min($large) {
            display: none;
        }
    }

    .nav-desktop {
        @include responsive-min($large) {
            display: flex;
        }
    }

    .app-logo {
        @include responsive-max($large) {
            margin-left: 1.5rem;
        }
    }
}