@import '../../styles/helpers';
@import '../../styles/config';

hero-element {
    color: $color-hero-text;

    .hero {
        @include flex-center(column);
        @include full-width;
        @include full-height;
        padding: 3.5rem 1.5rem;
        position: relative;

        &__background {
            @include full-width;
            @include full-height;
            position: absolute;
            z-index: -2;
    
            img {
                @include full-width;
                @include full-height;
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
                object-position: center;
            }
    
            &::after {
                @include full-height;
                @include full-width;
                content: '';
                position: absolute;
                background-image: 
                linear-gradient(
                    to right,
                    $color-hero-shadow,
                    $color-hero-shadow
                );
            }

        }

        &__heading {
            @include center-text;
            margin-bottom: 1.5rem;
            font-size: 1.5rem;
        }
        
        &__search-bar {
            @include margin-horizontal-centering;
            @include full-width;
            background: #ffffff;
            border-radius: 2rem;
            height: 3rem;
            max-width: 700px;
        }
    }

    .greeting {
        @include center-text;

        &__say {
            font-weight: 300;
            margin-bottom: 0.25rem;
            font-size: 1.25rem;
        }

        &__name {
            font-weight: 500;
            margin-bottom: 1rem;
            font-size: 2rem;
            word-break: break-word;
            overflow: hidden;
            text-overflow: ellipsis; 
            -webkit-box-orient: vertical; 
            display: -webkit-box; 
            -webkit-line-clamp: 1;
            max-width: 300px;
        }
    }
}

