@import '../../styles/helpers';
@import "../../styles/config";

hero-element {
    @include flex-center(column);
    @include full-width;
    padding: 3.5rem 1.5rem;
    background: 
        linear-gradient(
            to right,
            $color-hero-shadow,
            $color-hero-shadow
        ),
        url("/images/heros/hero-image_2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    .hero__placeholder {
        @include center-text;
        color: $color-hero-text;
    }
    
    .hero__greeting {
        font-weight: 300;
        margin-bottom: 0.25rem;
        font-size: 1.125rem;
    }
    
    .hero__desc {
        font-weight: 300;
        margin-bottom: 1rem;
        font-size: 1.125rem;
    }
    
    .hero__name {
        font-weight: 500;
        margin-bottom: 1rem;
        font-size: 2rem;
    }
    
    .hero__search-bar {
        @include margin-horizontal-centering;
        @include full-width;
        background: #ffffff;
        border-radius: 2rem;
        height: 3rem;
        max-width: 700px;
    }
}

