@import '../../styles/config';
@import '../../styles/helpers';

resto-card {
    @include display-block;
    border-radius: 1rem;
    box-shadow: 0 1px 1px 0 rgba($color-card-shadow, 0.08), 0 1px 3px 1px rgba($color-card-shadow, 0.16);
    overflow: hidden;
    
    .card__media {
        img {
            @include full-width;
            @include full-height;
            left: 0;
            right: 0;
            object-fit: cover;
            object-position: center;
        }
    }

    .card__content {
        @include flex-center-vertical(column);
        padding: 1rem;
    }

    .resto__city {
        margin: 0.5rem 0;
    }

    .resto__description {
        overflow: hidden; 
        text-overflow: ellipsis; 
        -webkit-box-orient: vertical; 
        display: -webkit-box; 
        -webkit-line-clamp: 4;
        font-size: 1rem;
    }
}
