// color library
$white: #ffffff;
$black: #000000;
$medium-black: #424242;
$darkslate-grey: #333333;
$light-grey: #f4f4f4;
$medium-grey: #dedede;
$light-orange: #F0A500;
$dark-orange: #cf7500;

// fixed colors
$color-card-indicator: $light-orange;
$color-app-bar-text: $white;
$color-app-bar-selected: $medium-grey;
$color-app-bar-shadow: $black;
$color-text-white: $white;
$color-hero-text: $light-grey;
$color-hero-shadow: rgba($black, 0.4);
$color-regular-button: $light-orange;
$color-disabled-button: $medium-grey;
$color-section-divider: $light-orange;
$color-notification-toast: $medium-black;

// font library
$main-font-family: 'Roboto', sans-serif;
$logo-font-family: 'Baumans', sans-serif;

// layout
$app-bar-height: 60px;
$app-bar-margin: 5%;

// responsive layout
$small: 300px;
$medium: 600px;
$large: 900px;
$extra-large: 1200px;

@mixin responsive-min($width) {
    @media (min-width: $width) {
        @content;
    }
}

@mixin responsive-max($width) {
    @media (max-width: $width) {
        @content;
    }
}