// color library
$white: #ffffff;
$black: #000000;
$light-grey: #f4f4f4;
$medium-grey: #dedede;
$light-orange: #F0A500;
$dark-orange: #cf7500;
$tokopedia-color: #42b549;

// background color
$color-page-background: $white;
$color-footer-background: $light-orange;
$color-app-bar-background: $light-orange;
$color-search-bar: $white;
$color-hero-shadow: rgba($black, 0.4);
$color-nav-drawer-background: $white;

// text color
$color-app-bar-text: $white;
$color-text-light: $white;
$color-text-dark: $black;
$color-hero-text: $light-grey;
$color-text-subtle: rgba($black, 0.5);

// divider
$color-nav-drawer-divider: $medium-grey;

// font library
$main-font-family: 'Roboto';
$logo-font-family: 'Baumans';

// layout
$app-bar-height: 60px;

// responsive layout
$mobile: 600px;

@mixin mobile-responsive {
    @media (max-width: $mobile) {
        @content;
    }
}
