@import 'resets';
@import 'config';
@import 'theme';

body {
    background: var(--color-page-background);
    color: var(--color-text-base);
    font-family: $main-font-family;
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: var(--color-app-bar-background);
    color: $color-text-white;
    padding: 8px;
    z-index: 100;
 }
  
.skip-link:focus {
    top: 0;
}

main {
    min-height: calc(100vh - 10vh);
}