@import 'resets';
@import 'config';
@import 'helpers';

body {
    background: $color-page-background;
    color: $color-text-dark;
    font-family: $main-font-family;
}

footer {
    @include flex-center(row);
    background: $color-footer-background;
    color: $color-text-light;
    font-family: $main-font-family;
    height: 10vh;
}