@import '../../styles/config';

detail-view {
    .menu {
        &__wrapper {
            @include responsive-min($medium) {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    
        &__title {
            @include responsive-min($medium) {
                text-align: center;
            }
        }
    }


    .reviews {
        &__title {
            @include responsive-min($medium) {
                text-align: center;
            }
        }

        &__main {
            @include responsive-min($medium) {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    .form {
        &__footer {
            @include responsive-min($medium) {
                flex-direction: row;
            }
        }
    }
}