@import 'src/styles/config';
@import 'src/styles/helpers';

rating-bar {
    @include flex-center-vertical(row);
    position: relative;

    i {
        font-size: 0.825rem;
    }
    .gold-ratings {
        position: absolute;
        z-index: 1;
        top: 0;
    }
    .base-star {
        color: var(--color-rating-base);
    }
    .gold-star {
        color: var(--color-rating-star);
    }
    .rating-text {
        font-size: 0.825rem;
        color: var(--color-text-subtle);
    }
}