@import 'src/styles/config';
@import 'src/styles/helpers';

footer-bar {
    @include flex-center(row);
    background: var(--color-footer-background);
    color: $color-text-white;
    font-family: $main-font-family;
    height: 10vh;
    text-transform: capitalize;
}